:root
{
	--favcolor: rgb(244, 3, 252);
}
h1
{
	text-align: center;
	background-color: rgb(3, 211, 252);
	color: var(--favcolor);
	font-size: 38pt;
}
section
{
	color: var(--favcolor);
	float: right;
}
p
{
	text-align: center;
	font-size: 1.5vmax;
}
#mainpic
{
	border-radius: 50%;
	img-size: 50px;
}

div.button
{
	text-align: center;
	font-size: 1.5vmax;
}